# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\JavaProjects\Module_4\Week 2\thuchanh_qlykhachhang_data_repository\[thuchanh]qly_khang-Qly_tinh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
